body{
    color: black;
    font-family: arial;
    text-align: center;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#container{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid gray;
    margin: 0 auto;
}
#container h1{
    font-size: 20px;
}
#cabecera{
    background: blue;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,
    0.75);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0,5em;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
}
#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
#cabecera img{
    padding-right: 20px;
}
#post{
    padding: 1em;
}
footer #container{
    background: blue;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,
    0.75);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0,5em;
    width: 100%;
    padding: 0;
    text-align: center;
    border: 1px solid gray;
    margin: 0 auto;
}